body{
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHOWlBVtB5QCOqZvGnul_CV2u_QzL0aabg8g&s");
    background-attachment:no-repeat center fixed;
    background-size: cover;
    font-family: cursive;
    color:white;
    font-weight:lighter;

}