.A{
    background-color: aquamarine;

}
.B{
    background-color:rgb(50%,10%,40%);
}
.C{
    background-color: #ff0170;
}
button{
    background-color: black;
    color: white;
    height:50px;
    width: 100px;
    padding: 5px;
    border-radius: 55px;
    margin:20px 20px 20px 200px

    
}
button:hover{
    background-color: goldenrod;
    color: rgb(255, 255, 255);
    border: dotted;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
    cursor:pointer;
}